streamlit
transformers
scikit-learn
pandas
spacy
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
https://colab.research.google.com/drive/1522hFoEd_8xXeW4RYP_unJriyZMvWXP7.whl



